LOCAL_DEVELOPMENT=

JENKINS_ADMIN_USER=
JENKINS_ADMIN_PASSWD=

JENKINS_URL=

KUBERNETES_CLOUD_NAME=
KUBERNETES_SERVER_URL=
KUBERNETES_SERVER_CERT_KEY=
KUBERNETES_NAMESPACE=
KUBERNETES_SA_TOKEN=
KUBERNETES_JENKINS_POD_URL=
